body  {
	margin: 0;
	padding: 0;
	background: rgb(255, 255, 255);
    }
    #container  {
        margin: 1em auto;
        width: 1100px;
        background: rgb(255, 255, 255);
    }
    #header {
        border-style: solid;
        border-width: 2px;
        width: 1100px;
        background: rgb(255, 255, 255);

    }
    #menu {
        float: left;
        border-style: solid;
        border-width: 2px;
        height: 500px;
        width: 165px;
        background: rgb(255, 255, 255);
    }
    #contents{
        border-style: solid;
        border-width: 2px;
        height: 500px;
        width: 1100px;
        background: rgb(255, 255, 255);
    }
    label, input[type=Submit]{
        display: block;
        cursor: pointer;
    }
    input[type=Radio]{
        cursor: pointer;
    }