<!-- <!DOCTYPE html>
<html lang="pt">
<head>
   <meta charset="UTF-8">
   <link href="static/adm_func.css" rel="stylesheet" type="text/css">
   <title>Exclusão de Administrador</title>
</head>
<body>
   <h1>Resultado da exclusão de administrador- CRUD</h1>
   <hr/>
   <h2>{{ msg }}</h2>
   <hr/>
   <br/>
   <a href="/"> Voltar ao Menu </a> ||
   <a href="/parexcluirAdm"> Excluir outro administrador </a>
</body>
</html> -->
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <title>TECHNO</title>
        <link rel="stylesheet" href="static/adm_func.css" type="text/css" media="screen">
    </head>
    <body>
        <div id="container">
            <div id="header" title="Techno">
                <h1>&nbspTECHNO</h1>
            </div>
            <div id="menu">
            <ul>
                <li><a href="/paralterarAdm">Administradores</a></li>
                <li><a href="paralterarFunc">Funcionarios</a></li>
                <li><a href="/parConsultarFunc"> Visualizar Funcionários</a></li>
                <li><a href="/parConsultarAdm"> Visualizar Administradores</a></li>
                <li><a href="/parexcluirFunc"> Excluir um Funcionário</a></li>
                <li><a href="/parexcluirAdm"> Excluir um Administrador</a></li>
            </ul>
            </div>
            <div id="contents" style="text-align:center">
                <form action="" method="POST">
                  <h1>Resultado da exclusão de administrador- CRUD</h1>
                  <hr/>
                  <h2>{{ msg }}</h2>
                  <hr/>
                  <br/>
                  <a href="/"> Voltar ao Menu </a> ||
                  <a href="/parexcluirAdm"> Excluir outro administrador </a>
                </form>
            </div>

        </div>
        </body>

</html>