<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <title>TECHNO</title>
        <link rel="stylesheet" href="static/menu_adm_func.css" type="text/css" media="screen">
    </head>
    <body>
        <div id="container">
            <div id="header" title="Techno">
                <h1>&nbspTECHNO</h1>
            </div>

            <div id="menu">
            <ul>
                <li><a href="/paralterarAdm">Administradores</a></li>
                <li><a href="paralterarFunc">Funcionarios</a></li>
                <li><a href="/parConsultarFunc"> Visualizar Funcionários</a></li>
                <li><a href="/parConsultarAdm"> Visualizar Administradores</a></li>
                <li><a href="/parexcluirFunc"> Excluir um Funcionário</a></li>
                <li><a href="/parexcluirAdm"> Excluir um Administrador</a></li>
            </ul>
            </div>
            <div id="contents" style="text-align:center">

                <h1>Formulário de alteração de dados do Administrador</h1>
                <hr/>
                <form action="/alterarAdm" method="post">
                        <label for="nome">Nome:</label>
                            <input type="text" name="nome" size="30" maxlength="50" required value="{{ nome }}"/>
                        <label for="cpf">CPF:</label>
                            <input type="text" name="cpf" size="30" maxlength="11" required value="{{ cpf }}"/>
                        <label for="matricula">Matricula</label>
                            <input type="text" name="matricula" size="30" maxlength="5" required value="{{ matricula }}"/>
                        <label for="senha">Senha:</label>
                            <input type="text" name="senha" size="30" maxlength="10" required value="{{ senha }}"/><br/>
                    <input type="hidden" name="idt" value="{{ idt }}"/>
                    <input type="submit" value="Alterar Dados"/>
                </form>
                <hr/>
                <br/>
                <a href="/"> Voltar ao Menu </a>
                <a href="/paralterarAdm"> Alterar outro Administrador </a>
                </form>
            </div>

        </div>
        </body>

</html>
