Save to Drive Save to Drive save_alt Download
<!DOCTYPE html>
<html lang="pt">
<head>
   <meta charset="UTF-8">
   <link href="static/adm_func.css" rel="stylesheet" type="text/css">
   <title>Visualização de Administradores</title>
</head>
<body>
   <h1>Visualização de Administradores</h1>
   <hr/>
   <table>
       <tr>
           <th>Nome/cpf/matricula</th>
       </tr>
       {{ adms | safe }}
   </table>

   <br/>
   <hr/>
   <br/>
   <a href="/"> Voltar ao Menu </a>
</body>
</html>

