<!DOCTYPE html>
<html lang="pt">
<head>
   <meta charset="UTF-8">
   <link href="static/adm_func.css" rel="stylesheet" type="text/css">
   <title>Visualização de Funcionários</title>
</head>
<body>
   <h1>Visualização de Funcionários</h1>
   <hr/>
   <table>
       <tr>
           <th>Nome/cpf</th>
       </tr>
       {{ funcs | safe }}
   </table>

   <br/>
   <hr/>
   <br/>
   <a href="/"> Voltar ao Menu </a>
</body>
</html>

