<!DOCTYPE html>
<html lang="pt">
<head>
   <meta charset="UTF-8">
   <link href="static/adm_func.css" rel="stylesheet" type="text/css">
   <title>Escolher Funcionário para Excluir</title>
</head>
<body>
   <h1>Escolher Funcionário para excluir</h1>
   <hr/>
   <table>
       <tr>
           <th>Nome/cpf</th>
           <th>Excluir?</th>
       </tr>
       {{ funcs | safe }}
   </table>

   <form action="/excluirFunc" method="post" id="fm">
       <input type="hidden" name="idt" value="0" id="identificador"/>
   </form>

   <br/>
   <hr/>
   <br/>
   <a href="/"> Voltar ao Menu </a>
</body>
</html>

<script>


   function jsExcluir(adm, idt){
     var conf=confirm("Deseja realmente excluir " + adm + " ?");
     if (conf){
        var f=document.getElementById("fm");
        var i=document.getElementById("identificador");
        i.value=idt;
        f.submit();
     }
   }
</script>
